<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- During tests we avoid sending logs to external systems (Loki) to prevent connection errors
         This test-specific config only logs to the console at INFO level. -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>

